<ion-content [fullscreen]="true">
  <header style="padding:5%;">


  </header>

  <div id="container">
    <div class="container" style="padding: 5%;">
      <ion-title>Recuperacion de contraseña</ion-title>
      <br>
      <p>Ingrese sus datos</p>
      <br>
    </div>



    <div style="padding: 15%;">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" id="login" required></ion-input>
      </ion-item>
      
      <ion-button (click)="alertaResetPass()" id="alertaResetPass" style="margin-bottom: 5%; margin-top: 5%;" [routerLink]="['/home']" color="dark">Recuperar</ion-button>
      <br>
      <a [routerLink]="['/login']">Recordé mi contraseña</a>
    </div>
    
    
  </div>

</ion-content>