<!-- detail.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Driver detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Información del Viaje -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Destino: {{ viaje.destino }}</ion-card-title>
      <ion-card-subtitle>Lugar de inicio: {{ viaje.lugarinicio }}</ion-card-subtitle>
      <ion-card-subtitle>Hora de salida: {{ viaje.horasalida }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{ viaje.precio }}</ion-card-subtitle>
    </ion-card-header>
    <!-- Otras propiedades del viaje -->
  </ion-card>

  <!-- Información del Conductor -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conductor: {{ usuario?.nombre }}</ion-card-title>
      <ion-card-subtitle>Teléfono: {{ usuario?.telefono }}</ion-card-subtitle>
    </ion-card-header>
    <!-- Otras propiedades del conductor -->
  </ion-card>

  <!-- Otros elementos de la interfaz de usuario que desees agregar -->

  <!-- Botón para eliminar el viaje -->
  <ion-button (click)="eliminar()" expand="full" color="danger">Eliminar Viaje</ion-button>

</ion-content>
