<!-- detail.page.html -->

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Destino: {{ viaje.destino }}</ion-card-title>
      <ion-card-subtitle>Lugar de inicio: {{ viaje.lugarinicio }}</ion-card-subtitle>
      <ion-card-subtitle>Hora de salida: {{ viaje.horasalida }}</ion-card-subtitle>
      <ion-card-subtitle>Asientos disponibles: {{ viaje.capacidad }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{ viaje.precio }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-content>
    <div id="map" style="height: 300px;"></div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conductor: {{ usuario?.nombreCompleto }}</ion-card-title>
        <ion-card-subtitle>Teléfono: {{ usuario?.telefono }}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  
    
  
    
    <ion-button expand="full" color="success" (click)="solicitarAsiento()">Solicitar Asiento</ion-button>
  </ion-content>

</ion-content>
