<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>createtrip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Selecciona tu Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-title size="large">Selecciona tu Viaje</ion-title>
    <br>
    <div style="padding: 15%;">
      <form>
        <ion-item>
          <ion-label position="floating">Lugar de Origen</ion-label>
          <ion-input type="text" id="createtrip" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Lugar de Destino</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <br>
        <ion-label style="padding: 6%;">Hora y Fecha de Salida</ion-label>
        <ion-datetime-button style="padding: 8%;" datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-item>
          <ion-label position="floating">Pasajeros</ion-label>
          <ion-input type="number" required></ion-input>
        </ion-item>
        <br>
        <ion-button color="dark">Iniciar Viaje</ion-button>
      </form>
    </div>
  </ion-toolbar>
</ion-content>
