<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="container" style="padding: 5%;">
      <ion-title>Ingrese los detalles del viaje</ion-title>
      <br>
    </div>

    <div style="padding: 15%;">

      <!-- create-trip.component.html -->


      <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input formControlName="lugarinicio" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input formControlName="destino" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Capacidad</ion-label>
          <ion-input formControlName="capacidad" type="number"></ion-input>
        </ion-item>

        

        <ion-item>
          <ion-label position="floating">Hora de salida</ion-label>
          <ion-input formControlName="horasalida" type="time"></ion-input>
        </ion-item>

        

        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input formControlName="precio" type="text"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="full">Crear Viaje</ion-button>
      </form>


    </div>

  </div>

</ion-content>