<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selecciona tu Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Selecciona tu Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 15%;">
    <form>

      <ion-item>
        <ion-label position="floating">Lugar de Origen</ion-label>
        <ion-input type="text" id="createtrip" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar de Destino</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pasajeros</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>

      <br>

      <ion-item>
        <ion-label position="floating">IDPasajero</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <br>

      <ion-button [routerLink]="['/trips']">Iniciar Viaje</ion-button>
    </form>
  </div>
</ion-content>
