<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let aux of listaViajes">
      <ion-card >
        <ion-card-header>
          <ion-card-title> Desde: {{ aux.lugarinicio }} <br> Destino:{{ aux.destino }} </ion-card-title>
          <ion-card-subtitle>Hora de salida: {{ aux.horasalida }}</ion-card-subtitle>
          <ion-card-subtitle>Asientos disponibles: {{aux.capacidad}}</ion-card-subtitle>
        </ion-card-header>
         <br>
        
        <ion-button fill="clear" (click)="seeDetail(aux.id)">Ver detalle</ion-button>   
        
        <ion-chip color="tertiary" style="text-align: end;">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Datos conductor</ion-label>
        </ion-chip> 
      </ion-card>
    </ion-item>
  </ion-list>
  


</ion-content>


