<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let aux of listaViajes">
    <ion-card-header>
      <ion-card-title>{{ aux.destino }}</ion-card-title>
      <ion-card-subtitle>{{ aux.horasalida }}</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" (click)="seeDetail(aux.id)">Ver detalle</ion-button>    
  </ion-card>


</ion-content>


