<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

      <ion-accordion-group expand="inset">
        <ion-accordion *ngFor="let aux of listaViajes">
          <ion-item slot="header">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>{{ aux.lugarinicio }} --> {{ aux.destino }}</ion-label>
            <ion-note slot="end">{{ aux.horasalida }}</ion-note>
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <ion-label>
              <h3>Conductor:</h3>
              <h3>Hora de salida: {{ aux.horasalida }}</h3>
              <p>Asientos restantes:{{ aux.capacidad }}</p>
              <ion-badge color="medium" slot="end">{{ aux.precio }} CLP</ion-badge>
            </ion-label>
            
            <br>
            <ion-button  fill="outline" color="tertiary" slot="start" (click)="seeDetail(aux.id)">Ver detalle</ion-button> 
            
          </div>
        </ion-accordion>
      </ion-accordion-group>
  </ion-list>



</ion-content>