<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" style="padding: 5%;">
  </div>

  <div style="padding: 10%;">


    <!-- <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox>Es Conductor?</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de telefono</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirme contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item> -->


    <!-- En tu template de registro (register.page.html) -->
    <!-- En tu template de registro (register.page.html) -->
    <form (ngSubmit)="register()">
      <!-- Otros campos del formulario -->
      <ion-item>
        <label for="email" position="floating">Correo Electrónico:</label>
        <ion-input type="email" id="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      

      <ion-item>
        <label for="password">Contraseña:</label>
        <ion-input type="password" id="password" name="password" [(ngModel)]="password" required></ion-input>
      </ion-item>

      <ion-item>
        <label for="nombreCompleto">Nombre Completo:</label>
        <ion-input type="text" id="nombreCompleto" name="nombreCompleto" [(ngModel)]="nombreCompleto" required></ion-input>
      </ion-item>

      <ion-item>
        <label for="telefono">Teléfono:</label>
        <ion-input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required></ion-input>
      </ion-item>

      <ion-item>
        <label for="userType">Tipo de usuario:</label>
        <select id="userType" name="userType" [(ngModel)]="userType">
          <option value="conductor">Conductor</option>
          <option value="pasajero">Pasajero</option>
        </select>
      </ion-item>

      <ion-button color="success" type="submit" (click)="alertaRegistro()" id="alertaRegistro">Registrar</ion-button>

    </form>

    <br>

  </div>
</ion-content>