<ion-content [fullscreen]="true">
  <header style="padding:5%;">
  
    
  </header>
  
  <div id="container">
    <div class="container" style="padding: 5%;">
      <ion-title>Recuperacion de contraseña</ion-title>
      <br>
      <p>Ingrese sus datos</p>
      <br>
    </div>


    
    <div style="padding: 10%;">
      <ion-input label="Usuario" labelPlacement="stacked" [counter]="true" ></ion-input>  
     
    </div>
    <ion-button style="margin-bottom: 5%;" [routerLink]="['/home']" color="dark">Recuperar</ion-button>
    <br>
    <a [routerLink]="['/login']">Recordé mi contraseña</a>
  </div>

</ion-content>