<ion-header [translucent]="true">

  <ion-toolbar>

   <ion-title>Detalle Viaje</ion-title>

  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

   <ion-toolbar>

    <ion-title size="large">Detalle Viaje</ion-title>

   </ion-toolbar>

  </ion-header>



  <ion-card>

   <ion-card-header>

    <ion-card-subtitle>-Destino: Duoc UC Providencia</ion-card-subtitle>

    <ion-card-subtitle>-IdVehiculo: 1h32h1vj</ion-card-subtitle>

    <ion-card-subtitle>-Lugar de Origen: Puente Alto</ion-card-subtitle>

    <ion-card-subtitle>-Valor Viaje: 10500</ion-card-subtitle>

    <ion-card-subtitle>-Contacto: +56 9 4324234234</ion-card-subtitle>

   </ion-card-header>



   <ion-card-content>

   -Viaje a cargo de Juan Perez-

   </ion-card-content>



   <ion-button color="primary" fill="clear">Solicitar Asiento</ion-button>

   <ion-button color="danger" fill="clear">Terminar Viaje</ion-button>

  </ion-card>

</ion-content>



 